@page "/"

<PageTitle>Startsida</PageTitle>

<h1>Välkommen till min första applikation skapad i Blazor Web Assembly!</h1>

<h3>Om du vill ändra bakgundsfärgen, klicka på någon utav knapparna nedan:</h3>
<button type="button" onclick="changeBodyBg('rgb(233, 196, 106)');">Gul</button>
<button type="button" onclick="changeBodyBg('rgb(67, 170, 139)');">Grön</button>
<button type="button" onclick="changeBodyBg('rgb(248, 150, 30)');">Orange</button>
