<nav>
    <ul>
        <li>
            <NavLink href="/"> Startsida</NavLink>
        </li>
        <li>
            <NavLink href="convert"> Konvertering</NavLink>
        </li>
        <li>
            <NavLink href="json"> Json data</NavLink>
        </li>
    </ul>
</nav>
